<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> ng If</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(ngIf)">Toggle</button>
  </div>
  <div #ngIf style="display: none;">
    <app-diretiva-ngif></app-diretiva-ngif>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> ng Switch</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(ngSwitch)">Toggle</button>
  </div>
  <div #ngSwitch style="display: none;">
    <app-diretiva-ngswitch></app-diretiva-ngswitch>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> ng For</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(ngFor)">Toggle</button>
  </div>
  <div #ngFor style="display: none;">
    <app-diretiva-ng-for></app-diretiva-ng-for>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> ng Class</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(ngClass)">Toggle</button>
  </div>
  <div #ngClass style="display: none;">
    <app-diretiva-ngclass></app-diretiva-ngclass>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> ng Style</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(ngStyle)">Toggle</button>
  </div>
  <div #ngStyle style="display: none;">
    <app-diretiva-ngstyle></app-diretiva-ngstyle>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> operador Elvis</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(opElvis)">Toggle</button>
  </div>
  <div #opElvis style="display: none;">
    <app-operador-elvis></app-operador-elvis>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> ng Content</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(ngContent)">Toggle</button>
  </div>
  <div #ngContent style="display: none;">
    <app-diretiva-ngcontent>
      <h5 class="titulo">Título Dinâmico</h5>
      <p class="corpo">Conteúdo passado para o componente</p>
      <app-operador-elvis class="corpo"></app-operador-elvis>
    </app-diretiva-ngcontent>
  </div>
</div>
<!--  -->
<div style="display: inline;">
  <div style="display: flex; flex-direction: row;margin-bottom: 20px;">
    <h3 style="width: fit-content; margin-left: 360px; margin-top: 10px"> diretivas Customizadas</h3>
    <button type="button" class="btn btn-primary mx-3" (click)="ocultaExibeDiv(diretivasCustomizadas)">Toggle</button>
  </div>
  <div #diretivasCustomizadas style="display: block;">
    <app-diretivas-customizadas></app-diretivas-customizadas>
  </div>
</div>